body {
  background: linear-gradient(to right, #e1a8a3, #918ae4);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 3;
}

/* Sidebar Styles */
#sidebar {
  background-color: rgba(128, 137, 236, 0.8);
  width: 25%;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  transition: all 0.3s ease; /* Added transition */
}

#sidebar.open {
  left: 0;
}

#sidebar .logo {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 10%;
}

#sidebar .logo .info-button {
  color: #fffaf9;
  font-size: 1.5rem;
}

#sidebar ul {
  list-style-type: none;
  padding: 0;
}

#sidebar ul li {
  color: rgb(221, 221, 221);
  padding: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

#sidebar ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
}

/* Main Content */
#main-content {
  padding: 20px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Chatbox and Input */
.chatbox {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  max-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.chat-area {
  height: 100%;
  overflow-y: scroll;
}

.input-group button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 1.2rem;
}

/* Modal Styles */
.modal-content {
  background-color: rgba(46, 64, 255, 0.9);
  color: white;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#menu-toggle {
  display: none;}
/* Responsive Sidebar */
@media (max-width: 1024px) {
  #sidebar {
    display: none;
    width: 80%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(128, 137, 236);
    z-index: 999;
  }

  #main-content {
    width: 100%;
  }

  #menu-toggle {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
    border: none;
  }

  #sidebar.open {
    display: block;
  }
}
