body {
  /* background: linear-gradient(to right, #e1a8a3, #918ae4); */
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #bf9edb59;
}

/* Sidebar Styles */
#sidebar {
  background-color: rgb(255, 255, 255);
  width: 35%;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* Added transition */
}
#sidebar::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Edge */
}
#sidebar.open {
  left: 0;
}

#sidebar .logo {
  background-color: #4e008e;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  text-align: center;
}


#sidebar h4 {
  color: black;
  padding: 0 2rem;
  font-size: 1.8rem;
  text-align: center;
}

#sidebar hr {
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 1rem auto;


}


#sidebar ul {
  list-style-type: none;
  padding: 0;
  padding: 0 2rem;
}

#sidebar ul li {
  font-size: 1.2rem;
  list-style-type: disc;
  color: rgb(0, 0, 0);
  padding: 10px 0;
  cursor: pointer;
  font-weight: 500;
}

#sidebar ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
}

.footer {
  background-color: #4e008e;
  padding: 1rem 2rem;
  color: #ffffff;
}

.footer p, .right-footer p {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}

.right-footer {
  padding: 1rem 2rem;
  width: 100% !important;
  background-color: #4e008e;
  color: #ffffff;
}



/* Main Content */
#main-content {
  height: 100vh !important;
  width: 100%;



}

/* top bar */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 0rem 2rem;
}

.top-bar a {
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 0;
  color: #4e008e;
}

.top-bar .info-button {
  color: #4e008e;
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  font-size: 2rem;
}

/* Chatbox and Input */


.chatbox {
  /* use background gradiend with #4e008e and white diagonally */
  /* background: linear-gradient(to bottom, #ddcde9, white); */
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  margin: 0rem 3rem 1rem 3rem;
}

.chat-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding: 10px;
  flex-grow: 1;
  position: relative;
}

.chat-area::before {
  content: '';
  flex-grow: 1;
  /* This pushes content down when there are fewer messages */
}

.chat-area::-webkit-scrollbar {
  display: none;
  /* For Chrome, Safari, and Edge */
}

.chat-area .message {
  margin-bottom: 10px;
  background: rgba(181, 185, 231, 0.7);
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  max-width: 80%;
}

.chat-area .message p {
  margin: 0;
}

.chat-area .message.user {

  background: rgba(157, 154, 154, 0.3);
  margin-left: auto;
  color: black;
}

.form-control {
  font-size: 1.2rem;
  /* word wrap new line */
  /* white-space: pre-wrap;
  word-wrap: break-word;
  resize: none;
  border: none;
  border-radius: 15px;
  padding: 10px;
  margin: 0 3rem 1rem 3rem;
  background-color: #f1f1f1; */

}

.input-group button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 1rem;
  background-color: #4e008e;
}

/* Modal Styles */
.modal {
  display: block;
  background-color: rgba(232, 227, 227, 0.783);
}

.modal-content {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  color: black;
  /* width: 70vw; */
}
.modal-content h5{
  text-align: center;
  font-size: 2rem;
  margin: 0;
}
.modal-content button{
  color: red;
  font-size: 2rem;
}

.modal-header{
  margin: 0;
  padding: 0;
}
.modal-body p {
  font-size: 1.2rem;
}
#menu-toggle {
  display: none;
}

#sidebar .logo button {
  display: none;
}

.dot-typing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50px;
}

.dot-typing div {
  width: 6px;
  height: 6px;
  background-color: #4e92f0;
  border-radius: 50%;
  animation: dot-typing 1.5s infinite ease-in-out;
}

.dot-typing div:nth-child(1) {
  animation-delay: 0s;
}

.dot-typing div:nth-child(2) {
  animation-delay: 0.3s;
}

.dot-typing div:nth-child(3) {
  animation-delay: 0.6s;
}
.faq-card {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.faq-card-item{
  cursor: pointer;
  color: black;
  width: 48%;
  padding: 10px;
  border-radius: 6px;
  background-color: #f1f1f1;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

}
.bg-gray {
  background-color: #f1f1f1;
}
@keyframes dot-typing {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
}

/* Responsive Sidebar */
@media (max-width: 1024px) {
  .faq-card-item{
    width: 100%;
  }
  #sidebar {
    display: none;
    width: 80%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 999;
  }

  #sidebar .logo {
    display: flex;
    justify-content: space-between;
  }

  #sidebar ul li {
    font-size: 1rem;
  }

  #sidebar .logo button {
    display: block;
    background-color: #ffffff;
    color: #4e008e;
    border: none;
    font-size: 1.5rem;

  }

  .footer {
    width: 80%;
    position: fixed;
    bottom: 0;
  }

  #main-content {
    width: 100%;
    /* height: 100% !important; */
  }

  #menu-toggle {
    display: block;
    background-color: transparent;
    font-size: 1.5rem;
    color: #4e008e;
    border: none;
  }

  #sidebar.open {
    display: block;
  }

  .chat-area .message {
    margin-bottom: 5px;
    padding: 5px;
    font-size: 1.2rem;
    text-align: justify;
  }
}

@media (max-width: 768px) {
  #sidebar h4 {
    font-size: 1.5rem;
  }
  .chatbox {
    margin: 0rem 1rem;
    padding: 10px ;
  }

  .modal-content {
    width: 80%;
  }
  .top-bar a{
    font-size: 1.5rem;
  }
  .chat-area .message {
    max-width: 90%;
  }
  #sidebar .logo button {
    
    font-size: 1rem;

  }
}

@media (max-width: 425px) {
  #sidebar h4 {
    font-size: 1.1rem;
  }
  .top-bar .info-button {
    font-size: 1.5rem;
  }

  .top-bar h3 {
    font-size: 1.2rem;
  }

  .modal-content {
    width: 85%;
  }
  .right-footer{
    padding: .5rem;
    /* display: none; */
  }

  .right-footer p {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
 
  .top-bar a {
    font-size: 1rem;
  }
  
}